@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Raleway:wght@100&display=swap');

:root {
  --pixel-size: 16;
  --grid-size: 8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  font-family: 'Raleway', sans-serif;
}

header,
main {
  padding: 25px 15px;
}

p {
  font-weight: bold;
}

[data-uncompressed-block],
[data-compressed-block],
[data-number-block] {
  --size: calc(var(--grid-size) * 1ch + 2ch + 2px);
  font-family: 'JetBrains Mono', monospace;
  width: var(--size);
  font-size: 16px;
  padding: 1ch;
  border: 1px solid black;
  outline: none;
  word-wrap: anywhere;
}

.block {
  display: inline-block;
  background-color: var(--bg);
  width: calc(var(--pixel-size) * 1px);
  height: calc(var(--pixel-size) * 1px);
}

main {
  display: flex;
  flex-direction: column;

  [data-config],
  [data-see] {
    display: flex;

    > *:not(:first-child) {
      margin: {
        left: 50px;
      }
    }
  }

  [data-see] {
    margin: {
      top: 50px;
    }
  }

  [data-container] {
    display: flex;
    flex-direction: column;

    label {
      cursor: pointer;
    }

    input {
      margin-right: 10px;
    }
  }

  > div:not(:last-child) {
    margin-right: 50px;
  }
}

[data-templates] {
  label, select {
    width: 100%;
  }
}